body {
    background: linear-gradient(to right, rgba(167, 245, 255, 0.5), rgba(3, 75, 255, 0.5));
  }
  footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 12px;
    width: 100%; 
    position: relative; 
    bottom: 0;
  }
  header {
    text-align: center; 
    padding: 20px;
  }
  h2{text-align: center; 
    padding: 20px;}
  p {
    text-align: center; 
    margin: 20px auto;
    width: 80%; 
  }
  
  nav {
    text-align: center;
    margin: 20px 0;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  nav a:hover {
    color: darkblue;
  }